*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.only-mobile{
    display: none;
}

a{
    color:  rgb(15, 20, 25);
    text-decoration: none;
}

.link-blue{
    color: rgb(17, 103, 248);
    text-decoration: underline;
}

.tweet-button-content{
    margin-top: 12px;

    width: 100%;
    display: grid;
    place-items: center;
}

.tweet-button-content .blue-button{
    border-radius: 12px;
    padding: 6px;

    width: 80%;
}

.blue-button{
    background-color: rgb(17, 103, 248);
    border: none;
    color: #fff;

    font-weight: bold;

    font-size: 18px;

    cursor: pointer;
}   

.no-bullet{
    list-style: none;
}

.with-bullet{
    list-style: disc; 
    margin-left: 1.5rem; 
}

.x-close-button{
    background-color: transparent;
    border: none;
    border-radius: 100%;
    text-align: center;
    color: #868686;
    font-size: 1.1rem;

    cursor: pointer;
}

.x-close-button:hover{
    color: #616060;
}

.separator{
    height: 80%;
    width: 2px;

    background-color: #c4d2d9;
}

.page{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    gap: 8px;
    padding: 8px;
}

aside ul{
    font-size: 1.2rem;
}

aside ul li{
    padding: .5rem 1rem;
    border-radius: .75rem;
}

aside ul li{
    padding: .5rem 1rem;
}

aside ul li:hover{
    background-color: rgba(15, 25, 20, 0.1);
}


/* ADD-FRIEND-CARD */
.add-friend-card form{
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.add-friend-card input{
    background-color: rgb(239, 243, 244);
    
    border: none;
    border-radius: 8px;
    padding: 6px;

    outline: none;
}

.add-friend-card .card-content{
    padding: 6px;
    background-color: rgb(239, 243, 244);

    display: flex;
    flex-direction: column;

    gap: 4px;

    font-size: 12px;
}

.add-friend-card .friendship-suggestion{
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.add-friend-card .friendship-suggestion .blue-button{
    font-size: 14px;
    padding: 4px 6px;
}

.add-friend-card .friendship-suggestion-photo{
    height: 48px;
    width: 48px;

    border-radius: 100%;
}

.user-photo{
    width: 64px;
    height: 64px;
}

header .header-info{
    display: flex;
}

header .user-info{
    color: rgb(83, 100, 113);
}

header .estatistics{
    display: flex;
    gap: .5rem;
    color: rgb(83,100,113);
}

header .estatistics strong{
    color: rgb(15,20,25);
}

header .estatistics li:hover{
    text-decoration: underline;
}

main{
    margin-top: 1rem;
}

.main .publications li{
    color: rgb(83,100,113);

    border-radius: .75rem;
}

main .publications li a{
    color: rgb(83,100,113);
}

main .publications li:hover{
    background-color: rgba(15, 25, 20, 0.1);
}

.main-header ul{
    border: solid 1px rgb(229, 231, 230);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.main-header ul li{
    padding: .5rem ;
    width: 100%;
    
    text-align: center;
}

#mural{
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

/* POST */
.post{
    padding: .25rem .5rem;
    display: flex;

    flex-direction: column;
    gap: 2px;
}

.post:hover{
    background-color: rgba(0, 0, 0, 0.03);
}

.post-header .user-name{
    color: rgb(15, 20, 25);
}

.post-header .user-nickname, .post-header .post-data{
    color: rgb(83, 100, 113);
}

.post-links{
    background-color: rgb(229, 231, 230);

    width: 100%;

    display: flex;
    gap: .75rem;

    padding: 6px;

    justify-content: space-around;
}

.post-links li a{
    color: rgb(83, 100, 113);
}

.post-links li{
    color: rgb(83, 100, 113);
    border-radius: .75rem;
}

.post-links .reply-content a:hover, .post-links .share-content a:hover{
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
}

.post-links .retzeet-content a:hover{
    background-color: rgba(0, 186, 124, 0.1) ;
    color:  rgba(0, 186, 124, 1);
}

.post-links .like-content a:hover{
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
}


/* FORM TZEET */
.form-tzeet{
    display: flex;
}

.form-tzeet img{
    size: 64px;
}

.form-tzeet form{
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
}

.form-tzeet form textarea{
    width: 100%;
    font-size: 1.1rem;

    padding: .5rem;
    
    resize: none;
    outline: none;
    border: none;
}

.form-tzeet form .form-icons-content{
    display: flex;

    gap: .5rem;
}

.form-tzeet form  .form-icon{
    cursor: pointer;
    padding: .25rem;
}

.form-tzeet form  .form-icon:hover{
    background-color: rgb(29, 155, 240, 0.1);
    border-radius: 1rem; 
}

.form-tzeet form .form-events-content{
    border: solid #ebedef;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 0;
    padding: 4px 0;
}

.form-tzeet form .form-events-content .form-info-content{
    display: flex;
    gap: .8rem;

    align-items: center;
}

.form-tzeet form .reply{
    display: flex;

    align-items: center;

    font-weight: bold;
    font-size: .9rem;
    color: rgb(17, 103, 248);

    cursor: pointer;
}

.form-tzeet form .reply:hover{
    background-color: rgb(29, 155, 240, 0.1);
    border-radius: 1rem; 
}

.form-tzeet form .form-events-content{
    display: flex;
    justify-content: space-between;
}

.form-tzeet form .form-events-content button{
    padding: .25rem .65rem;
    border-radius: 1rem;
}

.form-tzeet form .form-events-content button:disabled{
    opacity: .5;
}

/* MODAL TZEET */
::backdrop {
    background: black;    
    opacity: 0.5;

    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

dialog {
    width: 50%;
    padding: 20px;
    max-width: 600px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media(max-width: 768px){
    .only-desktop{
        display: none;
    }

    .only-mobile{
        display: block;
    }
}